<!doctype html>
<html lang="en">

<head>
	<meta charset ="utf-8">
	<meta http-equiv="X-UA-Compatible">
	<meta name ="viewport" content="width-device-width, initial-scale=1.0">
	<ul id="nav_bar">
		<li><a href="../index.html"><i class="fas fa-home"></a></li>
		<li><a href="resume.html">Resume</a></li>
		<li><a href="funfacts.html">Fun Facts About Me</a></li>
        <li><a href="trivia.html">Trivia!</a></li>
		
	</ul>
	<title>Homework 2 - Catherine McHale</title>
	<link rel="stylesheet" href="../css/hw5.css">
	<script src="https://kit.fontawesome.com/536725d146.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="../css/hw5.css">

        <script src="../js/trivia.js" defer></script>
</head>

	<body>
	<header>
        <h1>Trivia!</h1>
	</header>
	<main>
        <% var score=0;%>

            <h1>My Trivia</h1>
            <section>
                <ol id="quiz">
                    <form action="/trivia/" method="post">
                    <li>
                        <h3>How many bones do shark have?</h3>
                        <ol>
                            <li>100 bones</li>
                            <li>217 bones</li>
                            <li>0 bones</li>
                            <li>185 bones</li>
                        </ol>
                        <label for="userAnswer1">Enter Your Answer:</label>
                        <input type="text" name="userAnswer1" id="userAnswer1"></input>
                        <h3>
                            <%= `You entered ${Answer1}`%>
                                <% if (Answer1==3) { %>
                                    <% score++; %>
                                    
                                        <%} %>
                        </h3>
                    </li>
                    <li>
                        <h3>What is aphantasia?</h3>
                        <ol>
                            <li>Inability to smell</li>
                            <li>Inability to create mental pictures</li>
                            <li>Inability to stand upright</li>
                            <li>Inability to tell when you are hungry</li>
                        </ol>
                        <label for="userAnswer2">Enter Your Answer:</label>
                        <input type="text" name="userAnswer2" id="userAnswer2"></input>
                        <h3>
                            <%= `You entered ${Answer2}`%>
                                <% if (Answer2==2) { %>
                                    <% score++; %>
                                    
                                        <%} %>
                        </h3>
                    </li>
                    <li>
                        <h3>Who was the first woman to win a Nobel Prize?</h3>
                        <ol>
                            <li>Grazia Deledda</li>
                            <li>Bertha von Suttner</li>
                            <li>Amelia Earhart</li>
                            <li>Marie Curie</li>
                        </ol>
                        <label for="userAnswer3">Enter Your Answer:</label>
                        <input type="text" name="userAnswer3" id="userAnswer3"></input>
                        <h3>
                            <%= `You entered ${Answer3}`%>
                                <% if (Answer3==4) { %>
                                    <% score++; %>
                                    
                                        <%} %>
                        </h3>
                    </li>
                    <li>
                        <h3>Which planet has the most gravity?</h3>
                        <ol>
                            <li>Saturn</li>
                            <li>Jupiter</li>
                            <li>Neptune</li>
                            <li>Uranus</li>
                        </ol>
                        <label for="userAnswer4">Enter Your Answer:</label>
                        <input type="text" name="userAnswer4" id="userAnswer4"></input>
                        <h3>
                            <%= `You entered ${Answer4}`%>
                                <% if (Answer4==2) { %>
                                    <% score++; %>
                                    
                                        <%} %>

                        </h3>
                    </li>
                    <li>
                        <h3>What kind of farm did Dwight Schrute have on the show "The Office"?</h3>
                        <ol>
                            <li>Carrot farm</li>
                            <li>Potato farm</li>
                            <li>Beet farm</li>
                            <li>Radish farm</li>
                        </ol>
                        <label for="userAnswer5">Enter Your Answer:</label>
                        <input type="text" name="userAnswer5"  id="userAnswer5"></input>
                        <h3>
                            <%= `You entered ${Answer5}`%>
                                <% if (Answer5==3) { %>
                                    <% score++; %>
                                    
                                        <%} %>
                        </h3>
                    </li>
                    <br>
                    <button type="submit" id="submitAnswer">Submit Answers</button>
                    </form>
                </ol>
                <div id="score">
                    <h2>Your Total Score Is: </h2>
                    <%= score%>
                </div>

            </section>
		</main>

	<hr>

	<footer>
	<p>Copyright 2021 &copy; Catherine McHale - Educational Only, No Commercial Value.</p>
	<a id="footerlink" href="mailto:catherinemchale@oakland.edu">Email</a> <a id="footerlink2" href="http://instagram.com/cattlmchale">Instagram</a>
	</footer>

	</body>
</html>